*.classpath
*.idea
*.iml
*/target/*
*.project
*.settings*
*.vpp~*
telephony_project/*
/telephony-core/.checkstyle
/telephony-core/.externalToolBuilders/net.sf.eclipsecs.core.CheckstyleBuilder.launch
/telephony-core/.externalToolBuilders/org.zeroturnaround.eclipse.rebelXmlBuilder.launch
migrations.sql
migrations_file_list.sql
jrebel-5.5.2-nosetup.zip
jrebel-5.5.2-nosetup/*