
#deliveries-search-form #filter-results,
#deliveries-search-form #clear-form {
    width: 100%;
}

#delivery-add-form #add-new-store,
#delivery-add-form #add-new-contact {
    width: 100%;
}


#add-delivery-form-bottom #clear-form ,
#add-delivery-form-bottom #save-delivery {
    width: 100%;
}

body {
    overflow: scroll;
}